.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5
            Veuillez remplir toutes les informations concernant votre lieu
        .ibox-content
          = form_for [:admin, @location], validate: true, html: {class: 'form-horizontal'} do |location_form|
            .form-group
              %label.col-sm-2.control-label Nom
              .col-sm-10
                = location_form.text_field :name, class: 'form-control'
            %br

            .form-group
              %label.col-sm-2.control-label Type
              .col-sm-10
                = location_form.text_field :type, class: 'form-control'
            %br

            %fieldset
              %legend Activités disponibles
              = location_form.fields_for :location_activities, @location.location_activities.build do |activity_form|
                - Activity.order(:name).each do |activity|
                  .form-group
                    = activity_form.check_box :activity_id, class: 'form-control'
                    = activity_form.label :activity_id, activity.name
                  -#.form-group
                  -#  %label.col-sm-2.control-label
                  -#    = activity.name
                  -#  .col-sm-10
                  -#    = activity_form.check_box activity.name.to_sym, class: 'form-control'
                  -#%br

            %br
            %fieldset
              %legend Dimensions
              = location_form.fields_for :dimension, @location.dimension.present? ? @location.dimension : @location.build_dimension  do |dimension_form|
                .form-group
                  %label.col-sm-2.control-label Largeur
                  .col-sm-10
                    = dimension_form.text_field :width, class: 'form-control'
                .form-group
                  %label.col-sm-2.control-label Longueur
                  .col-sm-10
                    = dimension_form.text_field :length, class: 'form-control'
                .form-group
                  %label.col-sm-2.control-label Hauteur
                  .col-sm-10
                    = dimension_form.text_field :height, class: 'form-control'
                .form-group
                  .col-sm-10
                    = dimension_form.text_field :weight, class: 'form-control', style: 'display: none', value: 0.01

            %br
            = render partial: 'shared/contact_form', locals: { form: location_form, object: @location }

            .form-group
              .col-sm-4
                %button.btn.btn-primary{:type => 'submit'} Sauver le lieu
