.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5
            Veuillez remplir toutes les informations concernant votre lieu
        .ibox-content
          .red.mb-20 Les champs marqués de (*) sont obligatoires
          = form_for [:admin, @location], validate: true, html: {class: 'form-horizontal'} do |location_form|
            = location_form.hidden_field :id, id: 'id-model--user-form'
            %fieldset
              %legend Informations
              .row
                %label.col-sm-1.control-label
                  Nom
                  %span.red *
                .col-sm-3
                  = location_form.text_field :name, class: 'form-control bg-contrast'
                %label.col-sm-1.control-label Public ?
                .col-sm-1
                  = location_form.check_box :type, class: 'form-control bg-contrast', checked: @location.type.present? ? @location.type.public? : false
                %label.col-sm-2.col-sm-offset-2.control-label Capacité maximale
                .col-sm-2
                  = location_form.number_field :capacity, class: 'form-control bg-contrast'

              .row.mt-30
                %label.col-sm-1.control-label Rue et n°
                .col-sm-3
                  = location_form.text_field :street, class: 'form-control bg-contrast'
                %label.col-sm-1.control-label Code post.
                .col-sm-3
                  = location_form.text_field :zip_code, class: 'form-control bg-contrast'

              .row.mt-30
                %label.col-sm-1.control-label Ville
                .col-sm-3
                  = location_form.text_field :city, class: 'form-control bg-contrast'
                %label.col-sm-1.control-label Pays
                .col-sm-3
                  = location_form.text_field :country, class: 'form-control bg-contrast'
                %br

            %fieldset.mt-30
              %legend Dimensions
              = location_form.fields_for :dimension, @location.dimension.present? ? @location.dimension : @location.build_dimension  do |dimension_form|
                .row
                  %label.col-sm-2.control-label Largeur (en m)
                  .col-sm-1
                    = dimension_form.text_field :width, class: 'form-control bg-contrast'
                  %label.col-sm-2.control-label Longueur (en m)
                  .col-sm-1
                    = dimension_form.text_field :length, class: 'form-control bg-contrast'
                  %label.col-sm-2.control-label Hauteur (en m)
                  .col-sm-1
                    = dimension_form.text_field :height, class: 'form-control bg-contrast'
                  .col-sm-1
                    = dimension_form.hidden_field :weight, value: 0.01

            %fieldset.mt-30
              %legend Activités disponibles et personne de contact
              .row.mt-30
                .search-container.col-sm-4
                  .row
                    .search-input
                      %label.control-label.col-sm-4 Activité
                      = location_form.hidden_field :location_activity_ids, class: 'list-Activity_ids'
                      %input.form-control.bg-contrast{id: 'search-input-Activity', 'data-model': 'Activity', 'data-multiple': 'true', type: 'text', placeholder: 'Rechercher par nom'}
                    .search-results.search-results-Activity.col-sm-7.hidden
                      - Activity.all.each do |a|
                        %p.result-item.result-item-Activity.hidden{id: "Activity-#{a[:id]}"}
                          = a[:name]
                    .search-chosen#search-chosen-Activity.mw-20vw{style:'margin-left: -40px'}
                      - if @location.location_activities.present?
                        - @location.location_activities.each do |loc_ac|
                          .item-selected.item-selected-Activity{id: "for-Activity-#{loc_ac.activity[:id]}"}
                            %i.fas.fa-ban.delete-selected.delete-selected-Activity{style: 'color: red'}
                            %div
                              = loc_ac.activity[:name]

                .search-container.col-sm-5.col-sm-offset-1
                  .row
                    .search-input
                      %label.control-label.col-sm-5 Personne de contact
                      .field_with_errors
                        = location_form.hidden_field :user_id, class: 'list-User_ids'
                        %input.form-control.bg-contrast{id: 'search-input-User', 'data-model': 'User', 'data-null': 'true', type: 'text', placeholder: 'Rechercher par nom ou email'}
                        - @location.errors.full_messages_for(:user_id).each do |message|
                          %label.message{'for': 'location_user_id'}
                            = epurate_err_msg(:User, message)
                    .search-results.search-results-User.col-sm-7.hidden
                      - User.active.each do |u|
                        %p.result-item.result-item-User.hidden{id: "User-#{u[:id]}"}
                          - if u.contact.present?
                            = u.contact.full_name
                            %br
                          = u[:email]
                    .search-chosen#search-chosen-User.col-sm-7
                      - if @location[:user_id].present?
                        .item-selected.item-selected-User{id: "for-User-#{@location.user[:id]}"}
                          %i.fas.fa-ban.delete-selected.delete-selected-User{style: 'color: red'}
                          %div
                            - if @location.user.contact.present?
                              = @location.user.contact.full_name
                              %br
                            = @location.user[:email]

            .row.mt-40
              .btn.btn-success.btn-add_user
                Ajouter une personne de contact
              .btn.btn-danger.btn-delete-add_user.hidden
                Supprimer le formulaire
            #user-model-form.hidden
              .mt-30
              = location_form.fields_for :user, location_form.object.user.present? ? location_form.object.user : User.new do |user_form|
                = render partial: 'shared/user_registration_form', locals: { user_form: user_form }

            %fieldset.mt-30
              %legend Associations
              .row.mt-30
                .search-container.col-sm-4
                  .row
                    .search-input
                      %label.control-label.col-sm-4 Association
                      = location_form.hidden_field :entity_location_ids, class: 'list-Entity_ids'
                      %input.form-control.bg-contrast{id: 'search-input-Entity', 'data-model': 'Entity', 'data-multiple': 'true', type: 'text', placeholder: 'Rechercher par nom'}
                    .search-results.search-results-Entity.col-sm-7.hidden
                      - Entity.all.each do |e|
                        %p.result-item.result-item-Entity.hidden{id: "Entity-#{e[:id]}"}
                          = e[:name]
                    .search-chosen#search-chosen-Entity.mw-20vw{style:'margin-left: -40px'}
                      - if @location.entity_locations.present?
                        - @location.entity_locations.each do |e_l|
                          .item-selected.item-selected-Entity{id: "for-Entity-#{e_l.entity[:id]}"}
                            %i.fas.fa-ban.delete-selected.delete-selected-Entity{style: 'color: red'}
                            %div
                              = e_l.entity[:name]


            .form-group.mt-50
              .col-sm-4
                %button.btn.btn-primary{type: 'submit'} Sauver le lieu
