.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Lieux
    %ol.breadcrumb
      %li
        %a{:href => admin_root_path} Accueil
      %li.active
        %strong Lieux

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 L'ensemble des lieux définis
          .ibox-tools
            = form_tag admin_import_locations_path, method: :post, multipart: true do
              .title-group-btns
                .import-container
                  = file_field_tag :file
                  = submit_tag 'Importer', class: 'btn btn-success btn-import'
                = link_to 'Nouveau lieu', new_admin_location_path, class: 'btn btn-primary'
                = link_to 'Exporter', admin_locations_path(format: :xlsx), class: 'btn btn-info' if @locations.size > 0
        .ibox-content
          - if @locations.size > 0
            .project-list
              %table.table.table-hover.table-striped.dataTables
                %thead
                  %th{width: '20%'} Nom
                  %th{width: '15%'} Type
                  %th{width: '15%'} Activités
                  %th{width: '20%'} Localisation
                  %th{width: '25%'} Personne de contact
                %tbody
                  - @locations.each do |location|
                    %tr
                      %td.project-title{:style => 'word-wrap: break-word'}
                        %b
                          = location[:name]

                      %td
                        = location[:type].text

                      %td
                        - location.location_activities.each do |loc_ac|
                          = "- #{loc_ac.activity.name}"
                          %br

                      %td
                        = location[:street]
                        %br
                        - if location[:zip_code].present?
                          = "#{location[:city]} (#{location[:zip_code]})"
                        - else
                          = location[:city]
                        %br
                        = location[:country]

                      - if location.user.present? && location.user.contact.present?
                        %td
                          = "Nom : #{location.user.contact[:lastname]}"
                          %br
                          = "Prénom : #{location.user.contact[:firstname]}"
                          %br
                          = "Tél. : #{location.user.contact[:phone_number]}"
                          %br
                          = "Email : #{location.user[:email]}"
                      - else
                        %td

                      %td.project-actions
                        .btn-group
                          %button.btn.btn-success.dropdown-toggle{"data-toggle" => "dropdown"}
                            Actions
                            %span.caret
                          %ul.dropdown-menu
                            %li
                              %a.btn.btn-white.btn-sm{:href => admin_location_path(location[:id])}
                                %i.fa.fa-eye
                                Détails
                              %a.btn.btn-white.btn-sm{:href => edit_admin_location_path(location[:id])}
                                %i.fa.fa-pen
                                Modifier
                              = link_to admin_location_path(location[:id]), method: :delete, data: { confirm: "Êtes-vous sur de vouloir supprimer ce lieu ?" }, class: "btn btn-white btn-sm" do
                                %i.fa.fa-trash
                                Supprimer

            .pagination-custom
              = paginate @locations, views_prefix: 'admin'

          - else
            Aucun lieu enregisté actuellement.
