.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5
            Veuillez remplir toutes les informations concernant votre évènement
        .ibox-content
          .red.mb-20 Les champs marqués de (*) sont obligatoires
          = form_for [:admin, @event], validate: true, html: {class: 'form-horizontal'} do |event_form|
            %fieldset
              %legend Informations
              = event_form.text_field :id, id: 'event_id', style: 'display: none', value: @event.id.present? ? @event.id : 0
              .row
                %label.col-sm-2.control-label
                  Nom
                  %span.red *
                .col-sm-2
                  = event_form.text_field :name, class: 'form-control bg-contrast'
                %label.col-sm-2.control-label
                  Min. participants
                  %span.red *
                .col-sm-2
                  = event_form.text_field :min_participant, class: 'form-control bg-contrast'
                %label.col-sm-2.control-label
                  Max. participants
                  %span.red *
                .col-sm-2
                  = event_form.text_field :max_participant, class: 'form-control bg-contrast'

              .row.mt-30
                %label.col-sm-2.control-label
                  Date de début
                  %span.red *
                .col-sm-2
                  = event_form.text_field :start_date
                %label.col-sm-2.control-label
                  Date de fin
                  %span.red *
                .col-sm-2
                  = event_form.text_field :end_date
                %label.col-sm-2.control-label
                  Clôture des inscriptions
                  %span.red *
                .col-sm-2
                  = event_form.text_field :registration_deadline

              .row.mt-30
                %label.col-sm-2.control-label
                  Prix (en €)
                  %span.red *
                .col-sm-2
                  = event_form.text_field :price, class: 'form-control bg-contrast'

            %fieldset.mt-30
              %legend Lieu de l'évènement
              .row
                .search-container.col-sm-5
                  .row
                    .search-input
                      %label.control-label.col-sm-5
                        Lieu
                        %span.red *
                      .field_with_errors
                        = event_form.hidden_field :location_id, class: 'list-Location_ids'
                        %input.form-control.bg-contrast{id: 'search-input-Location', 'data-model': 'Location', 'data-location-form-event': 'true', type: 'text', placeholder: 'Rechercher par nom, ville, code postal'}
                        - @event.errors.full_messages_for(:location_id).each do |message|
                          %label.message{'for': 'event_location_id'}
                            = epurate_err_msg(:Location, message)
                    .search-results.search-results-Location.col-sm-7.hidden
                      - Location.all.each do |l|
                        %p.result-item.result-item-Location.hidden{id: "Location-#{l[:id]}"}
                          = l[:name]
                          %br
                          = "#{l[:city]}, #{l[:zip_code]}"
                    .search-chosen#search-chosen-Location.col-sm-7
                      - if @event[:location_id].present?
                        .item-selected{id: "for-Location-#{@event[:location_id]}"}
                          %div
                            = @event.location[:name]
                            %br
                            = "#{@event.location[:city]}, #{@event.location[:zip_code]}"

            %fieldset{style: 'margin-top: 130px'}
              %legend Activités
              = event_form.fields_for :event_activities, @event.event_activities.present? ? @event.event_activities : @event.event_activities.build, dynamic: true do |ev_ac_form|
                .form-group
                  %label.col-sm-2.control-label Activité
                  .col-sm-2
                    = ev_ac_form.select :activity_id, options_for_select(@event.id.nil? ? Activity.all.map{|a|[a.name, a.id]} : Activity.get_activities_by_location_id(@event.location_id).rows, ev_ac_form.object.activity_id), {}, {:class => "form-control select bg-contrast change_with_location"}
                  %label.col-sm-2.control-label En simultané
                  .col-sm-2
                    = ev_ac_form.number_field :simultaneous_activities, {class: 'bg-contrast', style: 'max-width: 220px'}
                  .col-sm-1
                    = ev_ac_form.remove_fields_link 'Supprimer'
              = event_form.add_fields_link :event_activities, 'Ajouter une activité', { class: 'link_add_activity' }

            %fieldset.mt-50
              %legend Matériel supplémentaire
              = event_form.fields_for :event_equipment, @event.event_equipment.present? ? @event.event_equipment : @event.event_equipment.build, dynamic: true do |ev_eq_form|
                .form-group
                  %label.col-sm-2.control-label Matériel
                  .col-sm-2
                    = ev_eq_form.select :equipment_id, options_for_select(Equipment.all.map{|e|[e.name, e.id]}, ev_eq_form.object.equipment_id), {}, class: 'form-control select bg-contrast'
                  %label.col-sm-2.control-label Quantité
                  .col-sm-2
                    = ev_eq_form.number_field :quantity, {class: 'bg-contrast', style: 'max-width: 220px'}
                  .col-sm-1
                    = ev_eq_form.remove_fields_link 'Supprimer'
              = event_form.add_fields_link :event_equipment, 'Ajouter du matériel'

            .mt-50
            = render partial: 'shared/contact_form', locals: { form: event_form, object: @event }


            .form-group
              .col-sm-4
                %button.btn.btn-primary{type: 'submit'} Sauver l'évènement
