.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Evènements
    %ol.breadcrumb
      %li
        %a{:href => admin_root_path} Accueil
      %li
        %a{:href => admin_events_path} Evènements
      %li.active
        %strong
          = @event.name


%table.table.table-borderless{style: 'margin-top: 50px; max-width: 500px'}
  %tbody
    %tr
      %th Nom :
      %td
        = @event[:name]
    %tr
      %th Date de début :
      %td
        = @event.datetime_to_french_format(@event[:start_date])
    %tr
      %th Date de fin :
      %td
        = @event.datetime_to_french_format(@event[:end_date])
    %tr
      %th Clôture des inscriptions :
      %td
        = @event.datetime_to_french_format(@event[:registration_deadline])
    %tr
      %th Min. participant :
      %td
        = @event[:min_participant]
    %tr
      %th Max. participant :
      %td
        = @event[:max_participant]
    %tr
      %th Activités :
      - if @event.event_activities.present?
        %td
          - @event.event_activities.each do |ev_ac|
            = "#{ev_ac.activity.name} (#{ev_ac.simultaneous_activities})"
            %br
    %tr
      %th Matériel :
      - unless event_equipment.empty?
        %td
          - event_equipment.each do |name, qty|
            = "#{name} (#{qty})"
            %br
    %tr
      %th Lieu :
      %td
        = @event.location[:name]
    %tr
      %th Contact :
      %td
        = "Nom : #{@event.contact[:lastname]}"
        %br
        = "Prénom : #{@event.contact[:firstname]}"
        %br
        = "Téléphone : #{@event.contact[:phone_number]}"
        %br
        = "Email : #{@event.contact[:email]}"
        %br
    %tr
      %th Prix :
      %td
        = "#{@event[:price]} €"

.row.text-center
  %button.btn.btn-secondary.btn-lg{:type => 'button'}
    = link_to 'Modifier', edit_admin_event_path(@event.id)
  %button.btn.btn-danger.btn-lg{:type => 'button'}
    = link_to 'Supprimer', admin_event_path(@event.id), method: :delete, data: { confirm: "Êtes-vous sur de vouloir supprimer cet évènement ?" }
