.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5
            Veuillez remplir toutes les informations concernant votre matériel
        .ibox-content
          .red.mb-20 Les champs marqués de (*) sont obligatoires
          = form_for [:admin, @equipment], validate: true, html: {class: 'form-horizontal'} do |equipment_form|
            .row
              %label.col-sm-2.control-label
                Nom
                %span.red *
              .col-sm-3
                = equipment_form.text_field :name, class: 'form-control bg-contrast'
              %label.col-sm-2.control-label
                Prix/unité (en €)
                %span.red *
              .col-sm-3
                = equipment_form.text_field :unit_price, class: 'form-control bg-contrast'

            .row.mt-30
              %label.col-sm-2.control-label
                Description
                %span.red *
              .col-sm-8
                = equipment_form.text_area :description, class: 'form-control bg-contrast'

            .row.mt-30
              .search-container.col-sm-5
                .row
                  .search-input
                    %label.control-label.col-sm-5
                      Catégorie
                      %span.red *
                    .field_with_errors
                      = equipment_form.hidden_field :category_id, class: 'list-Category_ids'
                      %input.form-control.bg-contrast{id: 'search-input-Category', 'data-model': 'Category', type: 'text', placeholder: 'Rechercher par nom'}
                      - @equipment.errors.full_messages_for(:category_id).each do |message|
                        %label.message{'for': 'equipment_category_id'}
                          = epurate_err_msg(:Category, message)
                  .search-results.search-results-Category.col-sm-7.hidden
                    - Category.for_equipment.each do |c|
                      %p.result-item.result-item-Category.hidden{id: "Category-#{c[:id]}"}
                        = c[:name]
                  .search-chosen#search-chosen-Category.col-sm-7
                    - if @equipment[:category_id].present?
                      .item-selected{id: "for-Category-#{@equipment[:category_id]}"}
                        %div
                          = @equipment.category[:name]

              .search-container.col-sm-5
                .row
                  .search-input
                    %label.control-label.col-sm-5
                      Fournisseur
                      %span.red *
                    .field_with_errors
                      = equipment_form.hidden_field :supplier_id, class: 'list-Supplier_ids'
                      %input.form-control.bg-contrast{id: 'search-input-Supplier', 'data-model': 'Supplier', type: 'text', placeholder: 'Rechercher par entreprise ou nom'}
                      - @equipment.errors.full_messages_for(:supplier_id).each do |message|
                        %label.message{'for': 'equipment_supplier_id'}
                          = epurate_err_msg(:Supplier, message)
                  .search-results.search-results-Supplier.col-sm-7.hidden
                    - Supplier.all.each do |c|
                      %p.result-item.result-item-Supplier.hidden{id: "Supplier-#{c[:id]}"}
                        = c[:name]
                  .search-chosen#search-chosen-Supplier.col-sm-7
                    - if @equipment[:supplier_id].present?
                      .item-selected{id: "for-Supplier-#{@equipment[:supplier_id]}"}
                        %div
                          = @equipment.supplier[:name]
                          %br
                          = @equipment.supplier.contact.full_name


            %fieldset{style: 'margin-top: 130px'}
              %legend Dimensions du matériel
              = equipment_form.fields_for :dimension, @equipment.dimension.present? ? @equipment.dimension : @equipment.build_dimension  do |dimension_form|
                .row
                  %label.col-sm-2.control-label Largeur (en cm)
                  .col-sm-1
                    = dimension_form.text_field :width, class: 'form-control bg-contrast'
                  %label.col-sm-2.control-label Longeur (en cm)
                  .col-sm-1
                    = dimension_form.text_field :length, class: 'form-control bg-contrast'
                  %label.col-sm-2.control-label Hauteur (en cm)
                  .col-sm-1
                    = dimension_form.text_field :height, class: 'form-control bg-contrast'
                  %label.col-sm-2.control-label Poids (en g)
                  .col-sm-1
                    = dimension_form.text_field :weight, class: 'form-control bg-contrast'


            .form-group.mt-50
              .col-sm-4
                %button.btn.btn-primary{:type => 'submit'} Sauver le matériel
