%section.breadcrumbs-custom.bg-image.context-dark.scroll-handler{:style => "background-image: #{asset_path('bg-breadcrumbs.jpg')};"}
  .image-overlay{"data-canvas-src" => asset_path("bg-breadcrumbs.jpg"), :style => "background-image: #{asset_path('bg-breadcrumbs.jpg')};"}
  .breadcrumbs-panel
    .container
      %ul.breadcrumbs-custom-path
        %li
          %a{:href => root_path} Accueil
        %li.active Evènements
/ Events
%section.section.section-sm.bg-default
  .container
    .row.row-30.row-md-50.row-lg-70
      -Event.to_come.each do |event|
        .col-sm-6
          %article.post.block-xl
            %img.post-image{:alt => "", :height => "367", :src => asset_path("post-12-570x367.jpg"), :width => "570"}/
            .post-content
              %div
                %a.post-tag.post-tag-white-outline{:href => "#"}
                  = event.category.name
                .heading-5.post-title
                  %a{href: event_path(event)}
                    = event.name
                .post-time
                  %time
                    = event.start_date
            .post-dummy
