.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5
            Veuillez remplir toutes les informations concernant votre réservation
        .ibox-content
          .red.mb-20 Les champs marqués de (*) sont obligatoires
          = form_for [:admin, @registration], validate: true, html: {class: 'form-horizontal'} do |form|
            %fieldset
              %legend Informations
              .row.mt-30
                .search-container.col-sm-5
                  .row
                    .search-input
                      %label.control-label.col-sm-5
                        Evènement
                        %span.red *
                      .field_with_errors
                        = form.hidden_field :event_id, class: 'list-Event_ids'
                        %input.form-control.bg-contrast{id: 'search-input-Event', 'data-model': 'Event', type: 'text', placeholder: 'Rechercher par nom, ville, ou date'}
                        - @registration.errors.full_messages_for(:event_id).each do |message|
                          %label.message{'for': 'registration_event_id'}
                            = epurate_err_msg(:Event, message)
                    .search-results.search-results-Event.col-sm-7.hidden
                      - Event.to_come.each do |e|
                        %p.result-item.result-item-Event.hidden{id: "Event-#{e[:id]}"}
                          = e[:name]
                          %br
                          = e.location.name_plus_city
                          %br
                          = date_time_to_french_format(e[:start_date])
                    .search-chosen#search-chosen-Event.col-sm-7
                      - if @registration[:event_id].present?
                        .item-selected.item-selected-Event{id: "for-Event-#{@registration.event[:id]}"}
                          %div
                            = @registration.event[:name]
                            %br
                            = @registration.event.location.name_plus_city
                            %br
                            = date_time_to_french_format(@registration.event[:start_date])

                .search-container.col-sm-5
                  .row
                    .search-input
                      %label.control-label.col-sm-5
                        Utilisateur
                        %span.red *
                      .field_with_errors
                        = form.hidden_field :user_id, class: 'list-User_ids'
                        %input.form-control.bg-contrast{id: 'search-input-User', 'data-model': 'User', type: 'text', placeholder: 'Rechercher par nom ou email'}
                        - @registration.errors.full_messages_for(:user_id).each do |message|
                          %label.message{'for': 'registration_user_id'}
                            = epurate_err_msg(:User, message)
                    .search-results.search-results-User.col-sm-7.hidden
                      - User.all.each do |u|
                        %p.result-item.result-item-User.hidden{id: "User-#{u[:id]}"}
                          = u.contact.full_name
                          %br
                          = u[:email]
                    .search-chosen#search-chosen-User.col-sm-7
                      - if @registration[:user_id].present?
                        .item-selected.item-selected-User{id: "for-User-#{@registration.user[:id]}"}
                          %div
                            = @registration.user.contact.full_name
                            %br
                            = @registration.user[:email]

              .row.mt-180
                %label.col-sm-2.control-label
                  Prix (en €)
                  %span.red *
                .col-sm-2
                  = form.text_field :price, class: 'form-control bg-contrast'


            .form-group.mt-50
              .col-sm-4
                %button.btn.btn-primary{:type => 'submit'} Sauver l'évènement
