.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Réservations
    %ol.breadcrumb
      %li
        %a{:href => admin_root_path} Accueil
      %li.active
        %strong Réservations

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 L'ensemble des Réservations définies
          .ibox-tools
            = link_to 'Nouvelle réservation', new_admin_registration_path, class: 'btn btn-primary', style: 'margin-right: 50px'
            = link_to 'Exporter', admin_registrations_path(format: :xlsx), class: 'btn btn-info btn-export-model' unless @events.empty?
            %br
          = form_tag admin_import_registrations_path, method: :post, multipart: true do
            %fieldset
              %legend Importer des données
              = file_field_tag :file
              = submit_tag "Importer", class: "btn btn-success mt-20"

        .ibox-content
          - unless @events.empty?
            .row.registration-title
              .col-sm-4 Evènement
              .col-sm-4 Lieu
              .col-sm-4 Date
            .panel-group#accordion{role: 'tablist', 'aria-multiselectable': 'true'}
              - @events.each do |event|
                .panel.panel-default
                  -# List event
                  .panel-heading{id: "heading-#{event[:id]}", role: 'tab'}
                    %h4.panel-title
                      %a{role: 'button', 'data-toggle': 'collapse', 'data-parent': '#accordion', href: "#collapse-#{event[:id]}", 'aria-expanded': 'false', 'aria-controls': "collapse-#{event[:id]}"}
                        -# = "Evènement : #{event[:name]} -- Lieu : #{event.location.name_plus_city} -- le #{date_time_to_french_format(event[:start_date])}"
                        .row.registration-value
                          .col-sm-4
                            = event[:name]
                          .col-sm-4
                            = event.location.name_plus_city
                          .col-sm-4
                            = date_time_to_french_format(event[:start_date])

                  -# List registrations for event
                  .panel-collapse.collapse{id: "collapse-#{event[:id]}", role: 'tabpanel', 'aria-labelledby': "heading-#{event[:id]}"}
                    .panel-body
                      .project-list
                        %table.table.table-hover.table-striped.dataTables
                          %thead
                            %th Nom complet
                            %th Email
                            %th Prix
                            %th Confirmation
                            %th Status paiement
                            %th Actions
                          %tbody
                            - event.registrations.each do |registration|
                              %tr
                                %td.project-title
                                  %b
                                    = registration.user.profile.contact.full_name

                                %td
                                  = registration.user[:email]

                                %td
                                  = "#{to_french_repr(registration[:price])}€"

                                %td
                                  - if registration[:confirmation_datetime].present?
                                    %span.confirmed
                                      Confirmé le :
                                    = date_time_to_french_format(registration[:confirmation_datetime])
                                  - else
                                    %p Non confirmé
                                    = link_to 'Confirmé', admin_registration_confirm_path(registration, type: 'confirmation'), method: :patch, class: 'btn btn-danger'

                                %td
                                  - if registration[:payment_confirmation_datetime].present?
                                    %span.confirmed
                                      Payé le :
                                    = date_time_to_french_format(registration[:payment_confirmation_datetime])
                                  - else
                                    %p Non payé
                                    = link_to 'Payé', admin_registration_confirm_path(registration, type: 'payment_confirmation'), method: :patch, class: 'btn btn-danger'

                                %td.project-actions
                                  .btn-group
                                    %button.btn.btn-success.dropdown-toggle{'data-toggle': 'dropdown'}
                                      Actions
                                      %span.caret
                                    %ul.dropdown-menu
                                      %li
                                        %a.btn.btn-white.btn-sm{:href => edit_admin_registration_path(registration[:id])}
                                          %i.fa.fa-pen
                                          Modifier
                                        = link_to admin_registration_path(registration[:id]), method: :delete, data: { confirm: 'Êtes-vous sur de vouloir supprimer cette réservation ?' }, class: 'btn btn-white btn-sm' do
                                          %i.fa.fa-trash
                                          Supprimer

            .pagination-custom
              = paginate @events, views_prefix: 'admin'


          - else
            Aucune réservation enregistrée.
