.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5
            Veuillez remplir toutes les informations concernant votre activité
        .ibox-content
          = form_for [:admin,@activity], validate: true, html: {class: "form-horizontal"} do |f|
            %fieldset
              %legend Activité
              .form-group
                %label.col-sm-2.control-label Nom
                .col-sm-10
                  = f.text_field :name, class: "form-control"
              .hr-line-dashed
              .form-group
                %label.col-sm-2.control-label Description
                .col-sm-10
                  = f.text_area :description, rows: 10, class: "form-control"

            %fieldset
              %legend Lieux ou exercer cette activité
              .form-group
                %label.col-sm-2.control-label
                .col-sm-10
                  = f.collection_select :location_activity_ids, Location.all, :id, :name_plus_city, {selected: @activity.location_activities.pluck(:location_id)}, { :multiple => true, class: "multiple_select" }

            %fieldset
              %legend Matériel nécessaire
              = f.fields_for :activity_equipment, @activity.activity_equipment.present? ? @activity.activity_equipment : @activity.activity_equipment.build, dynamic: true do |ac_eq_form|
                .form-group
                  %label.col-sm-2.control-label Matériel
                  .col-sm-2
                    = ac_eq_form.select :equipment_id, options_for_select(Equipment.all.map{|e|[e.name, e.id]}, ac_eq_form.object.equipment_id), {}, {:class => "form-control select"}
                  %label.col-sm-1.control-label Quantité
                  .col-sm-2
                    = ac_eq_form.number_field :quantity, class: "form-control"
                  .col-sm-1
                    = ac_eq_form.remove_fields_link 'Supprimer'

              = f.add_fields_link :activity_equipment, 'Ajouter du matériel'

            .form-group
              .col-sm-4
                %button.btn.btn-primary{:type => "submit", style: 'margin-top: 60px'} Sauver l'activité
