.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5
            Veuillez remplir toutes les informations concernant votre activité
        .ibox-content
          = form_for [:admin,@activity], validate: true, html: {class: "form-horizontal"} do |f|
            %fieldset
              %legend Activité
              .form-group
                %label.col-sm-2.control-label Nom
                .col-sm-10
                  = f.text_field :name, class: "form-control"
              .hr-line-dashed
              .form-group
                %label.col-sm-2.control-label Description
                .col-sm-10
                  = f.text_area :description, rows: 10, class: "form-control"

            %fieldset
              %legend Lieux ou exercer cette activité
              .form-group
                .search-container
                  .search-input
                    %label.control-label Lieu
                    %input.form-control{id: 'search-input-Location', 'data-model': 'Location', 'data-multiple': 'true', type: 'text', placeholder: 'Chercher par nom, ville, ou code postal'}
                  = f.hidden_field :location_activity_ids, id: 'list-Location_ids'
                  .search-results
                    - Location.all.each do |l|
                      %p.result-item.result-item-Location.hidden{id: "Location-#{l[:id]}"}
                        = l[:name]
                        %br
                        = "#{l[:city]}, #{l[:zip_code]}"
                  .search-chosen#search-chosen-Location
                    - if @activity.location_activities.present?
                      - @activity.location_activities.each do |loc_ac|
                        .item-selected{id: "for-Location-#{loc_ac.location[:id]}"}
                          %i.fas.fa-ban.delete-selected{style: 'color: red'}
                          %div
                            = loc_ac.location[:name]
                            %br
                            = "#{loc_ac.location[:city]}, #{loc_ac.location[:zip_code]}"

            %br
            %fieldset
              %legend Matériel nécessaire
              = f.fields_for :activity_equipment, @activity.activity_equipment.present? ? @activity.activity_equipment : @activity.activity_equipment.build, dynamic: true do |ac_eq_form|
                .form-group
                  %label.col-sm-2.control-label Matériel
                  .col-sm-2
                    = ac_eq_form.select :equipment_id, options_for_select(Equipment.all.map{|e|[e.name, e.id]}, ac_eq_form.object.equipment_id), {}, {:class => "form-control select"}
                  %label.col-sm-1.control-label Quantité
                  .col-sm-2
                    = ac_eq_form.number_field :quantity, class: "form-control"
                  .col-sm-1
                    = ac_eq_form.remove_fields_link 'Supprimer'

              = f.add_fields_link :activity_equipment, 'Ajouter du matériel'

            .form-group
              .col-sm-4
                %button.btn.btn-primary{:type => "submit", style: 'margin-top: 60px'} Sauver l'activité
