.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5
            Veuillez remplir toutes les informations concernant votre activité
        .ibox-content
          .red{style: 'margin-bottom: 20px'} Les champs marqués de (*) sont obligatoires
          = form_for [:admin,@activity], validate: true, html: {class: "form-horizontal"} do |f|
            %fieldset
              %legend Activité
              .form-group
                %label.col-sm-2.control-label Nom <span class="red">*</span>
                .col-sm-5
                  = f.text_field :name, class: 'form-control bg-contrast'
              .hr-line-dashed
              .form-group
                %label.col-sm-2.control-label Description <span class="red">*</span>
                .col-sm-5
                  = f.text_area :description, rows: 4, class: 'form-control bg-contrast'

            %fieldset.mt-30
              %legend Lieux ou exercer cette activité
              .row
                .search-container.col-sm-5
                  .row
                    .search-input
                      %label.control-label.col-sm-5 Lieu
                      = f.hidden_field :location_activity_ids, class: 'list-Location_ids'
                      %input.form-control.bg-contrast{id: 'search-input-Location', 'data-model': 'Location', 'data-multiple': 'true', type: 'text', placeholder: 'Rechercher par nom, ville, code postal'}
                    .search-results.search-results-Location.col-sm-7.hidden
                      - Location.all.each do |l|
                        %p.result-item.result-item-Location.hidden{id: "Location-#{l[:id]}"}
                          = l[:name]
                          %br
                          = "#{l[:city]}, #{l[:zip_code]}"
                    .search-chosen#search-chosen-Location.col-sm-7
                      - if @activity.location_activities.present?
                        - @activity.location_activities.each do |loc_ac|
                          .item-selected{id: "for-Location-#{loc_ac.location[:id]}"}
                            %i.fas.fa-ban.delete-selected{style: 'color: red'}
                            %div
                              = loc_ac.location[:name]
                              %br
                              = "#{loc_ac.location[:city]}, #{loc_ac.location[:zip_code]}"

            %fieldset{style: 'margin-top: 180px'}
              %legend Matériel nécessaire
              = f.fields_for :activity_equipment, @activity.activity_equipment.present? ? @activity.activity_equipment : @activity.activity_equipment.build, dynamic: true do |ac_eq_form|
                .form-group
                  %label.col-sm-2.control-label Matériel
                  .col-sm-2
                    = ac_eq_form.select :equipment_id, options_for_select(Equipment.all.map{|e|[e.name, e.id]}, ac_eq_form.object.equipment_id), {}, class: 'form-control select bg-contrast'
                  %label.col-sm-1.control-label Quantité
                  .col-sm-2
                    = ac_eq_form.number_field :quantity, class: 'form-control bg-contrast'
                  .col-sm-1
                    = ac_eq_form.remove_fields_link 'Supprimer'

              = f.add_fields_link :activity_equipment, 'Ajouter du matériel'

            .form-group
              .col-sm-4
                %button.btn.btn-primary{:type => "submit", style: 'margin-top: 60px'} Sauver l'activité
