.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Catégories
    %ol.breadcrumb
      %li
        %a{:href => admin_root_path} Accueil
      %li.active
        %strong Catégories

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 L'ensemble des catégories définies
          .ibox-tools
            = form_tag admin_import_categories_path, method: :post, multipart: true do
              .title-group-btns
                .import-container
                  = file_field_tag :file
                  = submit_tag 'Importer', class: 'btn btn-success btn-import'
                = link_to 'Nouvelle catégorie', new_admin_category_path, class: 'btn btn-primary'
                = link_to 'Exporter', admin_categories_path(format: :xlsx), class: 'btn btn-info' if @categories.size > 0
        .ibox-content
          - if @categories.size > 0
            .project-list
              %table.table.table-hover.table-striped.dataTables
                %thead
                  %th Nom
                  %th Catégorie parente
                  %th Type
                  %th Actions
                %tbody
                  - @categories.each do |category|
                    %tr
                      %td.project-title
                        %b
                          = category.name
                      %td
                        - if category.parent.present?
                          - if category.parent.parent.present?
                            %ul
                              %li
                                = category.parent.parent[:name]
                              %ul
                                %li
                                  = category.parent[:name]
                          - else
                            %ul
                              %li
                                = category.parent[:name]
                        - else

                      %td
                        = category[:type].text

                      %td.project-actions
                        .btn-group
                          %button.btn.btn-success.dropdown-toggle{"data-toggle" => "dropdown"}
                            Actions
                            %span.caret
                          %ul.dropdown-menu
                            %li
                              %a.btn.btn-white.btn-sm{:href => edit_admin_category_path(category.id)}
                                %i.fa.fa-pen
                                Modifier
                              = link_to admin_category_path(category.id), method: :delete, data: { confirm: "Êtes-vous sur de vouloir supprimer cette catégorie ?" }, class: "btn btn-white btn-sm" do
                                %i.fa.fa-trash
                                Supprimer

            .pagination-custom
              = paginate @categories, views_prefix: 'admin'

          - else
            Aucune catégorie enregistée actuellement
