.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5
            Veuillez remplir toutes les informations concernant l'utilisateur
        .ibox-content
          = form_for [:admin, @user], validate: true, html: {class: 'form-horizontal'} do |f|
            = f.fields_for :profile, f.object.profile.present? ? f.object.profile : Profile.new do |profile_form|
              = profile_form.fields_for :contact, profile_form.object.contact.present? ? profile_form.object.contact : Contact.new do |contact_form|
                .row
                  %label.col-sm-1.control-label Email
                  .col-sm-3
                    = f.text_field :email, class: 'form-control bg-contrast required', disabled: f.object.confirmed?
                    = f.hidden_field :skip_password_validation, value: true
                  %label.col-sm-1.control-label Nom
                  .col-sm-3
                    = contact_form.text_field :lastname, class: 'form-control bg-contrast required'
                  %label.col-sm-1.control-label Prénom
                  .col-sm-3
                    = contact_form.text_field :firstname, class: 'form-control bg-contrast required'
                    = contact_form.hidden_field :email, value: 'hello@world.net'

                .row.mt-30
                  %label.col-sm-1.control-label Sexe
                  .col-sm-3
                    = profile_form.select :gender, Profile.gender.options, {include_blank: true}, {class: 'form-control bg-contrast required'}

            .hr-line-dashed
            .hr-line-dashed
            .form-group
              %label.col-sm-1.control-label Admin ?
              .col-sm-10
                = f.check_box :admin, class: 'form-control', style: 'max-width: 50px'


            .form-group.mt-50
              .col-sm-4
                %button.btn.btn-primary{type: 'submit'} Sauver
