.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Utilisateurs
    %ol.breadcrumb
      %li
        %a{:href => admin_root_path} Accueil
      %li.active
        %strong Utilisateurs
  .col-lg-2
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-sm-8
      .ibox.float-e-margins
        .ibox-title
          %h5 L'ensemble des utilisateurs enregistrés
          .ibox-tools
            = link_to 'Créer un utilisateur', new_admin_user_path, class: 'btn btn-primary'
            = link_to 'Exporter', admin_users_path(format: :xlsx), class: 'btn btn-info btn-export-model' if @users.size > 0
        .ibox-content
          -#.input-group
          -#  %input.input.form-control{:placeholder => "Recherche ", :type => "text"}/
          -#  %span.input-group-btn
          -#    %button.btn.btn.btn-primary{:type => "button"}
          -#      %i.fa.fa-search
          -#      Chercher

          -if @users.size > 0
            .clients-list
              .full-height-scroll
                .table-responsive
                  %table.table.table-striped.table-hover
                    %thead
                      %th Nom complet
                      %th Rôle
                      %th
                      %th Email
                      %th Statut
                    %tbody
                      - @users.each do |user|
                        %tr
                          %td
                            %a.client-link{"href" => "#user-#{user.id}", "data-toggle" => "tab"}
                              = "#{user.profile.full_name}"
                          %td{class: "#{user.admin? ? 'bg-orange' : ''}"}
                            = user.admin? ? "Admin" : "Utilisateur"
                          %td.contact-type
                            %i.fa.fa-envelope
                          %td
                            = user.email
                          %td.client-status
                            - if user.confirmed?
                              %span.label.label-primary Actif
                            -elsif user.invited?
                              %span.label.label-warning Invité
                            -else
                              %span.label.label-default Non invité

            .pagination-custom
              = paginate @users, views_prefix: 'admin'


          - else
            Aucun utilisateur enregistré actuellement

    .col-sm-4
      .ibox
        .ibox-content
          .tab-content
            - @users.each_with_index do |user, i|
              .tab-pane{id: "user-#{user.id}", class: i == 0 ? "active" : ""}
                .row.m-b-lg
                  .col-lg-12.text-center
                    %h2
                      = "#{user.profile.contact[:firstname]} #{user.profile.contact[:lastname]}"

                .full-height-scroll
                  %strong Informations
                  %table.table
                    %tr
                      %td Date de création
                      %td
                        = l user[:created_at]
                    %tr
                      %td Sexe
                      %td
                        = user.profile.gender.text
                    %tr
                      %td Date de naissance
                      %td
                        = date_to_french_format(user.profile[:birthdate])
                    %tr
                      %td Téléphone
                      %td
                        = user.contact[:phone_number]

                    - if user.contact.coordinate.present?
                      %tr
                        %td Rue
                        %td
                          = user.contact.coordinate[:street]
                      %tr
                        %td Code postal
                        %td
                          = user.contact.coordinate[:zip_code]
                      %tr
                        %td Ville
                        %td
                          = user.contact.coordinate[:city]
                      %tr
                        %td Pays
                        %td
                          = user.contact.coordinate[:country]
                    - else
                      %tr
                        %td
                          %span.red Profil incomplet

                .full-height-scroll
                  %strong Réservations
                  %br
                  .col-lg-12.text-center
                    - if user.registrations.present?
                      - user.registrations.each do |r|
                        %p ------------------------------------------
                        = "#{r.event[:name]} -- #{r.event.location.name_plus_city}"
                        %br
                        = date_time_to_french_format(r.event[:start_date])
                        %br
                    - else
                      Aucune réservation enregistrée

                %br
                .full-height-scroll
                  %strong Actions
                  %br
                  %br
                  .col-lg-12.text-center
                    - if !user.confirmed?
                      %a.btn.btn-white.btn-sm{:href => admin_user_invite_path(user.id)}
                        %i.fa.fa-user-plus
                        -if user.invited?
                          Renvoyer l'invitation
                        - else
                          Inviter
                    %a.btn.btn-white.btn-sm{:href => edit_admin_user_path(user.id)}
                      %i.fa.fa-pen
                      Modifier
                    = link_to "Connexion", "/switch_user?scope_identifier=user_#{user.id}", class: "btn btn-primary btn-sm"
                    = link_to admin_user_path(user.id), method: :delete, data: { confirm: "Êtes-vous sur de vouloir supprimer cet utilisateur ?" }, class: "btn btn-sm btn-delete-user" do
                      %i.fa.fa-trash
                      Supprimer
