.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5
            Veuillez remplir toutes les informations concernant votre fournisseur
        .ibox-content
          .red.mb-20 Les champs marqués de (*) sont obligatoires
          = form_for [:admin, @supplier], validate: true, html: {id: 'supplier-form', class: 'form-horizontal'} do |supplier_form|
            .row
              %label.col-sm-1.control-label
                Nom
                %span.red *
              .col-sm-3
                = supplier_form.text_field :name, class: 'form-control bg-contrast'
              %label.col-sm-1.control-label
                Email
                %span.red *
              .col-sm-3
                = supplier_form.email_field :email, class: 'form-control bg-contrast'
              %label.col-sm-1.control-label
                Tél.
                %span.red *
              .col-sm-3
                = supplier_form.telephone_field :phone_number, class: 'form-control bg-contrast'

            .row.mt-30
              %label.col-sm-1.control-label
                Pays
                %span.red *
              .col-sm-3
                = supplier_form.text_field :country, class: 'form-control bg-contrast'
              %label.col-sm-1.control-label Code post.
              .col-sm-3
                = supplier_form.text_field :zip_code, class: 'form-control bg-contrast'
              %label.col-sm-1.control-label Ville
              .col-sm-3
                = supplier_form.text_field :city, class: 'form-control bg-contrast'

            %fieldset.mt-30
              %legend Contacts
              .search-container.col-sm-5{style: 'margin-left: -100px'}
                .row
                  .search-input
                    %label.control-label.col-sm-5 Utilisateur
                    = supplier_form.hidden_field :supplier_user_ids, class: 'list-User_ids'
                    %input.form-control.bg-contrast{id: 'search-input-User', 'data-model': 'User', 'data-multiple': 'true', type: 'text', placeholder: 'Rechercher par nom ou email'}
                  .search-results.search-results-User.col-sm-7.hidden
                    - User.active.each do |u|
                      %p.result-item.result-item-User.hidden{id: "User-#{u[:id]}"}
                        = u.contact.full_name
                        %br
                        = u[:email]
                  .search-chosen#search-chosen-User.col-sm-7
                    - if @supplier.supplier_users.present?
                      - @supplier.supplier_users.each do |s_u|
                        .item-selected.item-selected-User{id: "for-User-#{s_u.user[:id]}"}
                          %i.fas.fa-ban.delete-selected.delete-selected-User{style: 'color: red'}
                          %div
                            = s_u.user.contact.full_name
                            %br
                            = s_u.user[:email]

              .row{style: 'margin-top: 240px'}
                .btn-add_user
                  Ajouter un contact
                .btn-delete-add_user.hidden
                  Supprimer le formulaire
              #user-model-form.hidden
                .mt-30
                = form_for [:admin, User.new], validate: true, html: {class: 'form-horizontal'} do |user_form|
                  = render partial: 'shared/user_registration_form', locals: { user_form: user_form }


            .form-group.mt-50
              .col-sm-4
                %button.btn.btn-primary{type: 'submit'} Sauver le fournisseur

-# We have two forms here and only one button 'submit'
-# We put this code so we can submit supplier_form
:javascript
  document.addEventListener('DOMContentLoaded', (_) => {
    const supplier_form = document.getElementById('supplier-form')
    const btn_submit = document.querySelector('[type="submit"]')
    btn_submit.addEventListener('click', (e) => {
      e.preventDefault()
      supplier_form.submit()
    })
  })
