.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Fournisseurs
    %ol.breadcrumb
      %li
        %a{:href => admin_root_path} Accueil
      %li.active
        %strong Fournisseurs

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 L'ensemble des fournisseurs définis
          .ibox-tools
            = form_tag admin_import_suppliers_path, method: :post, multipart: true do
              .title-group-btns
                .import-container
                  = file_field_tag :file
                  = submit_tag 'Importer', class: 'btn btn-success btn-import'
                = link_to 'Nouveau fournisseur', new_admin_supplier_path, class: 'btn btn-primary'
                = link_to 'Exporter', admin_suppliers_path(format: :xlsx), class: 'btn btn-info' if @suppliers.size > 0
        .ibox-content
          - if @suppliers.size > 0
            .project-list
              %table.table.table-hover.table-striped.dataTables
                %thead
                  %th Nom
                  %th Informations
                  %th Contacts
                  %th Actions
                %tbody
                  - @suppliers.each do |supplier|
                    %tr
                      %td.project-title
                        %b
                          = supplier[:name]

                      %td
                        = "email : #{supplier[:email]}"
                        %br
                        = "tél. : #{supplier[:phone_number]}"
                        - if supplier[:city].present? && supplier[:zip_code].present?
                          %br
                          = supplier.loc_details
                        - else
                          %br
                            = supplier[:country]

                      %td
                        - if supplier.supplier_users.present?
                          - supplier.supplier_users.each do |s_u|
                            = s_u.user.contact.full_name
                            %br
                            = "#{s_u.user[:email]}, #{s_u.user.contact[:phone_number]}"
                            %br
                            = '------------------------------------------'
                            %br
                        - else
                          .red
                            Aucun contact supplémentaire

                      %td.project-actions
                        .btn-group
                          %button.btn.btn-success.dropdown-toggle{"data-toggle" => "dropdown"}
                            Actions
                            %span.caret
                          %ul.dropdown-menu
                            %li
                              %a.btn.btn-white.btn-sm{:href => edit_admin_supplier_path(supplier.id)}
                                %i.fa.fa-pen
                                Modifier
                              = link_to admin_supplier_path(supplier.id), method: :delete, data: { confirm: "Êtes-vous sur de vouloir supprimer ce fournisseur ?" }, class: "btn btn-white btn-sm" do
                                %i.fa.fa-trash
                                Supprimer

            .pagination-custom
              = paginate @suppliers, views_prefix: 'admin'

          - else
            Aucun fournisseur enregisté actuellement
