.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Fournisseurs
    %ol.breadcrumb
      %li
        %a{:href => admin_root_path} Accueil
      %li
        %a{:href => admin_suppliers_path} Fournisseurs
      %li.active
        %strong
          = @supplier.name

.row.white-bg
  .text-center
    %h1.mt-30.display-1
      Nom :
      = @supplier.name

.row.white-bg
  %h3 Personne de contact
  .col-sm-12
    Nom de famille :
    = @supplier.contact[:lastname]
  .col-sm-12
    Prénom :
    = @supplier.contact[:firstname]
  .col-sm-12
    Numéro de téléphone :
    = @supplier.contact[:phone_number]
  .col-sm-12
    email :
    = @supplier.contact[:email]

.row.white-bg
  %h3 Adresse personne de contact
  .col-sm-12
    Rue et numéro :
    = @supplier.contact.coordinate[:street]
  .col-sm-12
    Code postal :
    = @supplier.contact.coordinate[:zip_code]
  .col-sm-12
    Ville :
    = @supplier.contact.coordinate[:city]
  .col-sm-12
    Pays :
    = @supplier.contact.coordinate[:country]

.row.text-center
  %button.btn.btn-secondary.btn-lg{:type => 'button'}
    = link_to 'Modifier', edit_admin_supplier_path(@supplier.id)
  %button.btn.btn-danger.btn-lg{:type => 'button'}
    = link_to 'Supprimer', admin_supplier_path(@supplier.id), method: :delete, data: { confirm: "Êtes-vous sur de vouloir supprimer ce fournisseur ?" }
