!!!
%html
  %head
    %title
      Blacklights
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    .preloader
      .cssload-container
        .load-circle-item
          .load-circle
        .load-circle-item
          .load-circle
        .load-circle-item
          .load-circle
        .load-circle-item
          .load-circle
        .load-circle-item
          .load-circle
        .load-circle-item
          .load-circle
        .load-circle-item
          .load-circle
        .load-circle-item
          .load-circle
        .load-circle-item
          .load-circle
    .page
      %header.section.page-header
        = render 'shared/navigation'

      = yield
      = render "shared/footer"

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


